services:
  api:
    build: .
    command: sh -c "uvicorn src.app:app --host 0.0.0.0 --port ${APP_PORT:-8000}"
    ports:
      - "${APP_PORT:-8000}:${APP_PORT:-8000}"
    env_file:
      - ./src/config/.env
    environment:
      POSTGRE_HOST: postgres
      POSTGRE_PORT: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis

  celery:
    build: .
    command: celery -A src.core.celery.app worker -l info -Q send_sms
    env_file:
      - ./src/config/.env
    environment:
      POSTGRE_HOST: postgres
      POSTGRE_PORT: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${POSTGRE_DB:-mechanic}
      POSTGRES_USER: ${POSTGRE_USER:-mechanic}
      POSTGRES_PASSWORD: ${POSTGRE_PASS:-mechanic}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  redis_data:
